/**************************
* Common Code
**************************/
*{
	font-family:'Oswald', sans-serif;
	box-sizing:border-box;
}
body,html{
	margin:0;
	padding:0;
	width:100%;
}
a:link{
	text-decoration: none;	
}
.col-centered{
	display:inline-block;
    float:none;
}
.container{
	position: absolute;
    right:0;
	left:0;
	margin: auto;
}
/**************************
* Logo
**************************/
#logo{
	width:100%;
	margin-top: 100px;
}
/**************************
* FAQ Section
*************************/

.FAQBox{
	width: 250px;
	height: 300px;
	margin: 10px;
	text-align: center;
}
.FAQquestion{
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 250px;
	height: 80px;
	opacity: 0.9;
	font-size: 30px;
	font-family: 'Lobster', cursive;
	word-wrap: break-word;
}
.FAQanswer{
	text-align: left;
	width: 220px;
	height: 170px;
	font-size: 20px;
	font-family: 'Lobster', cursive;
	opacity: 0.7;
	overflow-y: auto;
	word-wrap: break-word;
}
/**************************
* Events Section
**************************/
.section-header{
	margin-top: 20px;
	font-family: 'Lobster', cursive;
	font-size: 55px;
	border-bottom: 3px solid;
}
.eventsList{
	position: relative;
	left: 0px;
	height: 45px;
	font-family: 'Patrick Hand', cursive;
	font-size: 25px;
	border-bottom: 1px solid;
}
#eventsListContainer{
	height: 250px;
	overflow-y: auto;
}
@media all and (min-width: 768px){
	#eventsDescriptionContainer{
	border-left: 2px solid;
	}
}
#eventsDescriptionContainer{
	margin-left: 15px;
	height: 250px;
	overflow-y: auto;
}
.commonDescriptionDesign{
	margin-top: 5px;
	margin-left: 15px;
	font-family:'Oswald', sans-serif;
	font-size: 20px;
}
#title{
	margin-left: 15px;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	border-bottom: 1px solid;
	word-wrap: break-word;
}
#description{
	margin-top: 5px;
	margin-left: 15px;
	font-family:'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 600px;
	word-wrap: break-word;
}
/**************************
* Footer Section
**************************/
footer a:link {
    color: #fff;
}
/* visited link */
footer a:visited {
    color: #fff;
}
/* mouse over link */
footer a:hover {
    color: #fff;
}
footer{
	background-color: #000;
	height: 250px;
}
@media all and (max-width:420px){
	.contentFooter{
		font-size: 24px!important;
	}
	.contentFooterList{
		font-size: 19px!important;
		margin-left:0px!important;
	}
}
.contentFooter{
	font-family: 'Lobster', cursive;
	margin-top: 10px;
	color: #fff;
	font-size: 28px;
}
.contentFooterList{
	font-size: 24px;
	margin-left:5px;
}